{% extends 'dashboard/components/header.html' %}
{% block content%}
  <body>
    <div id="head-container">
      <h1 id="Line">Line : HVAC 2</h1>
      <div class="head-right-container">
        <input type="checkbox" id="toggle" name="day" class="toggle--checkbox" onchange="window.location='{{shift}}'" checked />
          <label for="toggle" class="toggle--label">
          </label>
        <form action="/orboardnight" method="get" id="date">
          {% csrf_token %}
          <input type="date" name="date" onchange="this.form.submit()" />
        </form>
        <h4 id="Date">Date : <span id="Dateselect">{{DateToday}}</span></h4>
      </div>
    </div>
    <section class="content-container">
      <div class="grid-section">
        <div class="grid-card">
          <div class="card">
            <h5 id="card-heading">OR%</h5>
            <h1 id="ORdata" class="redStatus">{{OR_Actual}}%</h1>
          </div>
          <div class="card">
            <h5 id="card-heading">Acc Output</h5>
            <h1 id="Accdata">{{Output_Actual}}</h1>
          </div>
          <div class="card">
            <h5 id="card-heading">Output Diff</h5>
            <h1 id="OutputDiff" class="redStatus">{{OP_DIFF}}</h1>
          </div>
          <div class="card">
            <h5 id="card-heading">Del. Status</h5>
            <h1 id="DelStatus" class="redStatus">On time</h1>
          </div>
        </div>
        <div class="performance">
          <h4 class="subheading">Performance</h4>
          {% include 'dashboard/components/chartnight.html' %}
          <h4 id="Losstime">Loss time : <span id="Loss%">4%</span></h4>
        </div>
        <div class="grid-dekidaka">
          <div id="dekidaka">
            <h4 class="subheading">OR (target {{OR_Target}}%)</h4>
            {% include 'dashboard/components/dekidakanight.html' %}
          </div>
          <div id="container-table">
            <div id="content-table">
              <table>
                <tr>
                  <th>Result/day</th>
                  <th>Target</th>
                  <th>Actual</th>
                </tr>
                <tr>
                  <td>Cycletime</td>
                  <td>{{STD_Target}}</td>
                  <td>{{CT_Actual}}</td>
                </tr>
                <tr>
                  <td>OR%</td>
                  <td>{{OR_Target}}%</td>
                  <td>{{OR_Actual}}%</td>
                </tr>
                <tr>
                  <td>Output (pcs)</td>
                  <td>{{Output_Target}}</td>
                  <td>{{Output_Actual}}</td>
                </tr>
              </table>
            </div>
            <div id="partno">
              <h4>Current Part Number:</h4>
              <h3>{{Cur_Part}}</h3>
              <h3>Cus:Honda</h3>
            </div>
          </div>
          <div id="OT">
            <div class="card">
              <h5 id="card-heading">Overtime</h5>
              <h1 id="Overtime">2 Hr.</h1>
            </div>
            <div class="card recovery">
              <h5 id="card-heading">Recovery time</h5>
              <h1 id="Recoverytime">+0.5 Hr.</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock%}
