body {
  background: linear-gradient(
    90deg,
    #1c1c22 0%,
    #003247 25%,
    #003366 50%,
    #003247 75%,
    #1c1c22 100%
  );
  min-height: 100%;
  height: 100vh;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  color: aliceblue;
  margin: 1% 2%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}

a{
  color:white;
}

#head-container {
  top:0;
  left:0;
  width: 100%;
}

#Line,#Loss {
  display: inline-block;
  /* margin: 1% 3%; */
}

.head-right-container{
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
}

input[type="date"]{
  background-color: rgba(208, 245, 255, 0.6);
  padding: 10px;
  font-family: "Roboto Mono",monospace;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

#Date,
#date,
#shift {
  display: inline-block;
  margin-left: 10px;
}

#Date,
#Losstime {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  height: 40px;
  width: fit-content;
  padding: 4px;
  border-radius: 6px;
}

.grid-section {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr;
  column-gap: 20px;
}

.grid-card {
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  row-gap: 10px;
  justify-items: center;
}

.card {
  box-sizing: border-box;
  grid-template-rows: 1fr 5fr;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  display: grid;
  height: 160px;
  width: 190px;
  border-radius: 10px;
  justify-items: center;
}

.recovery {
  width: 320px;
}

#card-heading {
  box-sizing: border-box;
  margin: 10px;
}

#ORdata,
#Accdata,
#OutputDiff,
#DelStatus,
#Overtime,
#Recoverytime {
  box-sizing: border-box;
  margin: 10px;
  font-size: 50px;
}

#ORdata {
  font-size: 45px;
}

#DelStatus {
  font-size: 40px;
}


/* #DelStatus {
  color: aquamarine;
} */

.redStatus {
  color: crimson;
}

.greenStatus {
  color: aquamarine;
}

.performance {
  text-align: center;
  box-sizing: border-box;
  border: aliceblue 2px solid;
  border-radius: 10px;
}

#container-mychart {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 85%;
}

.subheading,
#myChart {
  margin: 1px;
  display: inline;
}

#Losstime {
  margin: 1px auto;
}

.grid-dekidaka {
  display: grid;
  grid-template-rows: 3fr 2fr 2fr;
  box-sizing: border-box;
  row-gap: 5px;
  justify-items: center;
}

#dekidaka {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  height: 400px;
  width: auto;
  border-radius: 10px;
  text-align: center;
  justify-items: center;
}

#container-dekidakachart {
  display: inline-block;
  position: relative;
  width: 96%;
  height: 90%;
}

#dekidakaChart {
  margin: 0 10px;
}

#container-table {
  display: grid;
  grid-template-columns: 3fr 2fr;
  box-sizing: border-box;
  justify-items: center;
  align-items: center;
  column-gap: 40px;
}

#content-table {
  box-sizing: border-box;
}

#partno {
  box-sizing: border-box;
}

table[target=_ct],
th[target=_ct],
td[target=_ct] {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}

th[target=_ct],
td[target=_ct] {
  padding: 2px 10px;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.summationloss{
  font-weight: bold;
  font-size: 15px;
  color: #96dcee;
}

#partno * {
  margin: 8px auto;
}

#OT {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  box-sizing: border-box;
  column-gap: 20px;
  align-items: center;
}

.ot-section {
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.ot-card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  box-sizing: border-box;
  row-gap: 20px;
  justify-items: center;
}

.ot-content{
  box-sizing: border-box;
  font-weight: bold;
  font-size: large;
  margin-right: 5px;
  margin-left: 5px;
}



.shift_label{
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
}

:root {
  /** sunny side **/
  --blue-background: #C2E9F6;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  /** dark side **/
  --indigo-background: #808fc7;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
  /** general **/
  --white: #fff;
}

.toggle--checkbox {
  display: none;
}

.toggle--checkbox:checked ~ .background {
  background: var(--indigo-background);
}
.toggle--checkbox:checked + .toggle--label {
  background: var(--indigo-color);
  border-color: var(--indigo-border);
  /** Change the cloud to stars **/
  /** Change the sun into the moon **/
  /** Show the dimples on the moon **/
}

.toggle--checkbox:checked + .toggle--label:before {
  background: var(--white);
  border-color: var(--gray-border);
  animation-name: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}
.toggle--checkbox:checked + .toggle--label:after {
  transition-delay: 350ms;
  opacity: 1;
}
.toggle--label {
  /** Placeholder element, starting at blue **/
  width: 50px;
  height: 20px;
  background: var(--blue-color);
  border-radius: 100px;
  border: 5px solid var(--blue-border);
  display: inline-block;
  position: relative;
  transition: all 350ms ease-in;
  /** The sun cloud and moon stars **/
  /** Sun/Moon element **/
  /** Gray dots on the moon **/
}

.toggle--label:before {
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 350ms ease-in;
  content: "";
  width: 12px;
  height: 12px;
  border: 5px solid var(--yellow-border);
  position: absolute;
  border-radius: 12px;
  background: var(--yellow-background);
}


@keyframes switch {
  0% {
    left: 1px;
  }
  60% {
    left: 4px;
    width: 20px;
  }
  100% {
    left: 27px;
    width: 12px;
  }
}
@keyframes reverse {
  0% {
    left: 27px;
    width: 12px;
  }
  60% {
    left: 22px;
    width: 20px;
  }
  100% {
    left: 1px;
  }
}



/* lossreport */
.grid-loss {
  display: grid;
  grid-template-columns: 5fr 1fr;
  column-gap: 10px;
  text-align: center;
}

.grid-losscontent {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
  display: inline;
  height: 100%;
  border-radius: 10px;
}

#loss-title{
  margin: 2px;
}

.table_loss{
  margin-top: 30px;
}

th[target=_loss],
td[target=_loss] {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 18px;
  /* border: 3px solid rgba(255, 255, 255, 0.2); */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}


label:not(.toggle--label),.min{
  margin-bottom: 10px;
  line-height: 1.6;
  font-weight: bold;
  font-size: 22px;
  padding: 0px 10px;
}

input[type="text"],
input[type="number"],
select{
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid white;
  border-radius: 4px;
  font-size: 22px;
  margin-bottom: 10px;
  padding: 4px 20px;
}

input[type="number"]{
  width: 70px;
}

.button{
  color: #003366;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid white;
  border-radius: 4px;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.6;
  margin-left: 20px;
}

